<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<h1>Add New Item</h1>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post">
    <div class="form-group">
        <label>Album
            <select th:field="${item.album.Id}">
                <option th:each="album : ${albums}"
                        th:value="${album.id}"
                        th:text="${album.name}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Condition
            <select th:field="${item.conditionType.Id}">
                <option th:each="conditionType : ${conditionTypes}"
                        th:text="${conditionType.name}"
                        th:value="${conditionType.id}"></option>
            </select>
        </label>
    </div>
    <div class = "dropdown">
        <label>Format
            <select th:field="${item.formatType.Id}">
                <option th:each="formatType : ${formatTypes}"
                        th:text="${formatType.name}"
                        th:value="${formatType.id}"></option>
            </select>
        </label>
    </div>
    <div class = "form-group">
        <label>Price
            <input th:field="${item.price}">
        </label>
        <p class="error" th:errors="${item.price}"></p>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit"/>
</form>

</body>
</html>