<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Modify Item</h1>

<form th:action="@{/item/edit}" method="post">
    <label>Album
        <input th:field = "${item.album.name}" readonly>
    </label>
    <label>Condition
        <input th:field = ${item.conditionType.name} readonly>
    </label>
    <label>Format
        <input th:field="${item.formatType.name}" readonly>
    </label>
    <label>Price
        <input th:field="${item.price}">
    </label>
    <label>Qty
        <input th:field="${item.qtyInStock}">
    </label>
    <input type="submit" value="Submit"/>
    <input type="hidden" th:value="${item.id}" name="itemId" />
</form>
<form th:action="'/item/delete/' + ${item.id}" method="post">
    <input type="submit" value = "Delete" onclick="return confirm('Confirm Item Delete')"/>
</form>
</body>
</html>