<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Add Event</h1>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post">
    <div>
        <label>
            Event Type
            <select th:field="${event.eventType.Id}">
                <option th:each="eventType : ${eventTypes}"
                        th:text="${eventType.name}"
                        th:value="${eventType.Id}"></option>
            </select>
        </label>
        <p class = "error" th:errors="${event.eventType.Id}"></p>
    </div>
    <div>
        <label>Event Name
            <input th:field="${event.name}">
        </label>
        <p class = "error"  th:errors="${event.name}"></p>
    </div>
    <div>
        <label>Description
            <textarea th:field="${event.description}"></textarea>
        </label>
        <p class = "error" th:errors="${event.description}"></p>
    </div>
    <div>
        <label>Date
            <input type="date" th:field="${event.eventDate}">
        </label>
        <p class = "error"  th:errors="${event.eventDate}"></p>
    </div>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>