<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<h2 class = "h2">Event Listing</h2>

<a th:href = "@{/event/add}">Add New Event</a>
<table class="table table-striped" style="text-align: center">
    <thead class="table-dark">
    <tr>
        <th scope="col">Event Date</th>
        <th scope="col">Event Type</th>
        <th scope="col">Event Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.eventDate}"></td>
        <td th:text = "${event.eventType.name}"></td>
        <td th:text="${event.name}"></td>
        <td> <a th:href = "@{/event/detail/{id}(id=${event.id})}">Detail</a></td>
        <td> <a th:href = "@{/event/edit/{id}(id=${event.id})}">Edit</a></td>
    </tr>
</table>

</body>
</html>