<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<h1>Add New Genre</h1>

<p th:text="${errorMsg}" style="color:red;"></p>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${genre.name}">
        </label>
        <p class="text-danger" th:errors="${genre.name}"></p>
    </div>

    <input class = "btn btn-primary" type="submit" value="Submit"/>
</form>

</body>
</html>