<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>

<p>Use the following steps to interact with the site:</p>
<ul>
  <li>First, sign into your account by clicking <a th:href="@{login}">here</a></li>
  <li>Purchase an album in the <a th:href="@{album/}">Albums</a> screen</li>
  <li>Visit the <a th:href="@{event/}">Events</a> page to view upcoming events in the store</li>
  <li>Get in touch with the store with the <a th:href = "@{contact/}">Contact Form</a></li>
</ul>

</body>
</html>
