<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "~{fragments :: head}"></head>
<body>
<header th:replace = "~{fragments :: header}"></header>
<h2 class = "h2" th:text="${heading}"></h2>

<p th:text="${errorMsg}" style="color:red;"></p>

<form th:action="@{/album/edit}" method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${album.name}">
        </label>
        <p class="text-danger" th:errors="${album.name}"></p>
    </div>
    <div class="form-group">
        <label>Artist
            <select th:field="${album.artist.Id}">
                <option th:each="artist : ${artists}"
                        th:text="${artist.name}"
                        th:value="${artist.id}"></option>
            </select>
        </label>
    </div>
    <div>
        <label>Genre
            <select th:field="${album.genre.Id}">
                <option th:each="genre : ${genres}"
                        th:text="${genre.name}"
                        th:value="${genre.id}"></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Release Date
            <input th:field="${album.releaseYear}">
        </label>
        <p class="text-danger" th:errors="${album.releaseYear}"></p>
    </div>

    <input class = "btn btn-primary" type="submit" value="Submit"/>
    <input type="hidden" th:value="${album.id}" name="albumId" />


</form>
<form th:action="'/album/delete/' + ${album.id}" method="post">
    <input class = "btn btn-danger" type="submit" value = "Delete" onclick="return confirm('Confirm Delete')"/>
</form>

</body>
</html>