<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div th:replace="~{fragments :: cartcount}"></div>
<h2 class="h2" th:text="${heading}"></h2>

<table class="table table-striped w-auto" style="text-align: center" >
    <tr>
        <th>Name</th>
        <td th:text="${album.name}"></td>
    </tr>
    <tr>
        <th>Artist</th>
        <td th:text="${album.artist.name}"></td>
    </tr>
    <tr>
        <th>Release Year</th>
        <td th:text="${album.releaseYear}"></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td th:text="${album.genre.name}"></td>
    </tr>
</table>

<a th:href="@{/item/add}">Add New Item</a>

<table class="table table-striped" style="text-align: center">
    <thead class="table-dark">
    <tr>
        <th scope="col">Format</th>
        <th scope="col">Condition</th>
        <th scope="col">Price</th>
        <th scope="col">Qty In Stock</th>
        <th scope="col">Add to Cart</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tr th:each="item : ${items}">
        <td th:text="${item.formatType.name}"></td>
        <td th:text="${item.conditionType.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.qtyInStock}"></td>
        <td><button th:onclick="|window.location.href='/cart/' + ${item.id}|">
            Add to Cart
        </button></td>
        <td><a th:href="@{/item/edit/{id}(id=${item.id})}">Edit</a></td>
    </tr>
</table>

</body>
</html>