<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: head}"></head>
<body>
<header th:replace="~{fragments :: header}"></header>
<h2 class="h2">Album List</h2>

<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/album/add}">Add New Album</a>


<div class="container mt-4">
    <h1>Search for Albums</h1>

    <form th:action="@{/album/}" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="term" th:value="${term}"
                   placeholder="Search by name, artist, or genre" aria-label="Search term">
            <div class="input-group-append">
                <button type="submit">Search</button>
            </div>
        </div>
    </form>
</div>


<table class="table table-striped" style="text-align: center">
    <thead class="table-dark">
    <tr>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">Genre</th>
        <th scope="col">Release Year</th>
        <th scope="col">View Inventory</th>
        <th sec:authorize="hasAuthority('ADMIN')" scope="col">Edit</th>
    </tr>
    </thead>
    <tr th:each="album : ${albums}">
        <td><a th:href="@{/artist/detail/{id}(id=${album.artist.id})}" th:text="${album.artist.name}"></a></td>
        <td th:text="${album.name}"></td>
        <td th:text="${album.genre.name}"></td>
        <td th:text="${album.releaseYear}"></td>
        <td><a th:href="@{/album/inventory/{id}(id=${album.id})}">Detail</a></td>
        <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/album/edit/{id}(id=${album.id})}">Edit</a></td>
    </tr>
</table>

</body>
</html>