<!DocTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<h1>Search was redirected correctly</h1>


<h2 th:text="${term}"></h2>

<table class="table table-striped" style="text-align: center">
    <thead class="table-dark">
    <tr>
        <th scope="col">Album Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Genre</th>
        <th scope="col">Release Year</th>
        <th scope="col">View Inventory</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tr th:each="album : ${albums}">
        <td><a th:href="@{/artist/detail/{id}(id=${album.artist.id})}" th:text = "${album.artist.name}"></a></td>
        <td th:text="${album.name}"></td>
        <td th:text="${album.genre.name}"></td>
        <td th:text="${album.releaseYear}"></td>
        <td><a th:href="@{/album/inventory/{id}(id=${album.id})}">Detail</a></td>
        <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/album/edit/{id}(id=${album.id})}">Edit</a></td>
    </tr>
</table>

</body>
</html>
