<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "~{fragments :: head}"></head>
<body>
<header th:replace = "~{fragments :: header}"></header>
<h2 class = "h2" th:text="${heading}"></h2>

<p th:text="${errorMsg}" style="color:red;"></p>

<form th:action="@{/EventType/edit}" method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${eventType.name}">
        </label>
        <p class="text-danger" th:errors="${eventType.name}"></p>
    </div>

    <input class = "btn btn-primary" type="submit" value="Submit"/>
    <input type="hidden" th:value="${eventType.id}" name="genreId" />


</form>
<form th:action="'/EventType/delete/' + ${eventType.id}" method="post">
    <input class = "btn btn-danger" type="submit" value = "Delete" onclick="return confirm('Confirm Delete')"/>
</form>

</body>
</html>