<!DocTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Shop All Items</h1>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Available Items</th>
        </tr>
        </thead>
        <tr>
            <th>Album Name</th>
            <th>Format</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Qty Available</th>
            <th>Add to Cart</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.album.name}"></td>
            <td th:text = "${item.formatType.name}"></td>
            <td th:text="${item.conditionType.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.qtyInStock}"></td>
            <td><button th:onclick="|window.location.href='/cart/' + ${item.id}|">
                Add to Cart
            </button></td>
        </tr>
    </table>

</div>
</body>
</html>